// Переменные:

// Цвета:
$main-color: #FFF;
$comp-color: #156963;
$color2: #2C1500;
$color3: #000000;
$color4: #333;
$color5: #F2F2F2;
$color6: #E0E0E0;
$color7: #F3F4F6;

// Шрифты:
$font1: 'Montserrat', sans-serif;
$font2: 'Nunito', sans-serif;
$font3: 'Poppins', sans-serif;
$font4: 'Work Sans', sans-serif;

// Адаптация:
$tablet: 768px;
$mobile: 425px;
